.poke-list-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
}

.poke-list{
    display: flex;
    flex-wrap: wrap;
    gap:16px;
    justify-content: center;
}